@font-face {
  font-family: 'poppins';
  src: url("src/assets/Font/Poppins-Thin.ttf")format('truetype');
}

*{
  padding: 0;
  margin: 0;
  font-family: poppins,sans-serif;
}

.back {
  background: #000015;
  /*background: rgb(2, 0, 36);*/
  /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(136, 235, 255, 1) 100%);*/
  width: 100%;
}

.infocard{
  background: #12143b;
  width: 98%;
  height:10rem;
  top: 10px;
  color: white;
}

.infocard .headline{
  position: absolute;
  top: 14px;
  left: 0.5rem;
  font-weight: 900;
  font-size: 20px;
}

.infocard .data{
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-weight: 900;
  font-size: 75px;
  color: gold;
}

.infocard .posttext{
  position: relative;
  top: 6rem;
  left: 5rem;
  font-weight: 900;
  font-size: 15px;

}

.postyeartext{
  position: absolute;
  top: -2rem;
}

.infocard img{
  position: absolute;
  right: 1rem;
  bottom: 10px;
  width: 120px;
  height: 120px;

}

.infocardchart{
  position: absolute;
  top: 5rem;
  width: 98%;
  height: fit-content;
  border-radius: 10px;
}

.semcardchart{
  position: absolute;
  top: 5rem;
  width: 98%;
  height: fit-content;
  margin: 0 ;
  border-radius: 10px;
}

.yearprogdetails{
  width: 95%;
  background: #12143b;
  font-weight: 800;
  color: #fffbff;
  font-size: 25px;
  height: 23rem;
}

.tiles{
  top: 4rem;
  height: 10px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  height: 2rem;
}

@media screen and (max-width: 1200px) {
  .infocard img{
    right: 0;
    /*bottom: 10px;*/
    width: 100px;
    height: 100px;

  }
}

@media screen and (max-width: 1000px) {
  .infocard img{
   display: none;
  }
}

@media screen and (max-width: 768px) {
  .infocard img{
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 10px;
    width: 120px;
    height: 120px;
  }
}
