<main>
  <div class="about-logo">
    <img src="assets\logot.png" alt="image not found">
  </div>
  <div class="approach-mission">
    <div class="approach">
      <h3> Our Approach</h3>
      <p>At CodeHelio, we believe in a client-centric approach. Your vision is our priority, and we work closely with
        you to
        understand your requirements, challenges, and aspirations. <br> Our collaborative process ensures that the end
        product
        not only meets but exceeds your expectations.</p>
    </div>
    <div class="mission">
      <h3>Our Mission</h3>
      <p>At CodeHelio, our mission is to empower businesses and individuals with exceptional software products. We
        strive to be the driving force behind our clients' growth and success, delivering reliable, scalable, and
        intuitive solutions.</p>
    </div>
  </div>

  <div class="services">

<!--    software solutions-->
    <div class="card">
      <div class="image">
        <img class="imgc" src="assets/software.png" />
      </div>
      <div class="content">
        <a href="#">
      <span class="title">
        Software Solutions
      </span>
        </a>

        <p class="desc">
          We specialize in creating robust and tailor-made software solutions that streamline your business
          operations, enhance productivity, and drive efficiency. Our custom software development services ensure your
          technology aligns perfectly with your goals
        </p>

        <a class="action" href="#">
          Find out more
          <span aria-hidden="true">
        →
      </span>
        </a>
      </div>
    </div>
<!--    !software solutions-->
    <!--    Mobile solutions-->
    <div class="card">
      <div class="image">
        <img class="imgc" src="assets/mobile.png" />
      </div>
      <div class="content">
        <a href="#">
      <span class="title">
        Mobile App Development
      </span>
        </a>

        <p class="desc">
          With the mobile app market booming, we leverage our expertise to develop user-friendly and feature-rich
          mobile applications for both Android and iOS platforms. From concept to deployment, we ensure seamless user
          experiences and outstanding performance.
        </p>

        <a class="action" href="#">
          Find out more
          <span aria-hidden="true">
        →
      </span>
        </a>
      </div>
    </div>
    <!--    !software solutions-->
    <!--    web solutions-->
    <div class="card">
      <div class="image">
        <img class="imgc" src="assets/web.png" />
      </div>
      <div class="content">
        <a href="#">
      <span class="title">
        Web App Development
      </span>
        </a>

        <p class="desc">
          Our web app development services encompass a wide range of technologies and frameworks, allowing us to
          create dynamic and interactive web applications that captivate users and leave a lasting impression.
        </p>

        <a class="action" href="#">
          Find out more
          <span aria-hidden="true">
        →
      </span>
        </a>
      </div>
    </div>
    <!--    !software solutions-->

  </div>
<!--  <div class="languages">-->
<!--    <img src="assets\Java.png" alt="">-->
<!--    <img src="assets/html.png" alt="">-->
<!--    <img src="assets\CSS.png" alt="">-->
<!--    <img src="assets\Bootstrap.png" alt="">-->
<!--    <img src="assets\js.png" alt="">-->
<!--    <img src="assets\react.png" alt="">-->
<!--  </div>-->
<!--  <div class="languages">-->
<!--    <img src="assets/angular.png" alt="">-->
<!--    <img src="assets\Vue.png" alt="">-->
<!--    <img src="assets\Android.png" alt="">-->
<!--    <img src="assets\php.png" alt="">-->
<!--    <img src="assets\Python.jpeg" alt="">-->
<!--    <img src="assets\spring.png" alt="">-->
<!--    <img src="assets\Laravel.png" alt="">-->
<!--    <img src="assets\jwt.png" alt="">-->
<!--  </div>-->
</main>
<footer>
  <h4>© 2023 CODEHELIO, Sri Lanka. All rights reserved.</h4>
</footer>
