@font-face {
  font-family: 'poppins';
  src: url("src/assets/Font/Poppins-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'poppins-SemiBold';
  src: url("src/assets/Font/Poppins-SemiBold.ttf") format('truetype');
}

.blogo {
  width: 80px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-left: 15px;
}

.mtitle {
  font-family: poppins,sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 15px;
}

.navlist {
  list-style-type: none;
  flex: 10;
  display: flex;
  gap: 20px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: red;
  cursor: pointer;
}

.navbar,
.back {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(136, 235, 255, 1) 100%);
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 1;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  height: 2rem;
}

mat-card-header {
  justify-content: center;

}

.about-logo {
  padding-top: 5%;
  justify-content: center;
  text-align: center;
}

.about-logo img {
  width: 35%;
  height: 40%;
}

.approach-mission .approach h3 {
  font-size: 24px;
  margin-top: 5%;
}

.approach-mission .mission h3 {
  font-size: 24px;
}

.approach-mission .approach {
  width: 70%;
  margin-left: 15%;
}

.approach-mission .approach h3 {
  text-align: center;
}

.approach-mission .approach p {
  border: none;
}

.approach-mission .mission {
  width: 70%;
  margin-left: 15%;
}

.approach-mission .mission h3 {
  text-align: center;
}

main {
  margin-bottom: 5%;
  height: 100%;
  padding-bottom: 20%;
  /* font-family: poppins,sans-serif; */
  font-family: poppins-SemiBold;
  font-weight: 100;
}

.approach-mission {
  text-align: center;
  font-family: poppins, sans-serif;
  font-size: 15px ;
  top: 10%;
  font-weight: bold;
}

.services {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 150px;
  padding-top: 30px;
  /* margin-bottom: 20%; */

}

/*.languages {*/
/*  position: relative;*/
/*  top: 40vh;*/
/*  display: flex;*/
/*  flex-direction: row;*/

/*}*/

/*.languages img {*/
/*  width: 50%;*/
/*  height: 50%;*/
/*  margin-left: 10px;*/
/*}*/

/*.languages img:hover {*/
/*  transform: scale(0.9);*/

/*}*/


/*cards*/

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(34, 112, 225);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: poppins;
  font-weight: bold;

}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.imgc{
  width: 100%;
  height: 100%;
}
