@font-face {
  font-family: 'poppins';
  src: url("src/assets/Font/Poppins-Thin.ttf") format('truetype');
}

.blogo {
  width: 80px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 15px;
}

.title{
  font-family: poppins,sans-serif;
  font-size: 30px;
  font-weight: bold;

  /*position: absolute;*/
  /*right: 0;*/
  /*margin: 0 auto;*/

}

.spacer {
  flex: 1 1 auto;
}


.forms > mat-label {
  color: red;
  margin-right: 20px;
}

.forms > mat-form-field {
  margin-top: 5px;
  height: 50px;
  width: 100%;
}

h3{
  background: dodgerblue;
  width: 95px;
  padding: 0 0 0 10px;
  border-radius: 25px;
  color: white;
}

.inputs {
  display: flex;
  align-items: center;

}

.forms {
  padding: 20px;
}

.year1 {
  margin-top: -18rem;
  height: fit-content;
}

.year2 {
  margin-top: -18rem;
  height: fit-content;
}

.year3 {
  margin-top: 0rem;
  height: fit-content;
}

mat-card-header {
  background: #1b4780;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

mat-card-title {
  color: white;
  margin-left: 180px;
}



.nav {
  position: fixed;
 top: 0;
  right: 0;
  padding-right: 15px;
}

.navlist {
  list-style-type: none;
  flex: 10;
  display: flex;
  gap: 20px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: red;
  cursor: pointer;
}

.navbar, .back {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(136, 235, 255, 1) 100%);
  width: 100%;
}
.navbar{
  position: fixed;
  z-index: 1;
}

a{
  color: black;
  text-decoration: none;
}
.btns {
  width: 400px;
  background: #4169E1;
}

.active {
  text-decoration: underline;
}

.btnoverall{
  width: 80vw;
  position: relative;
  margin-left: 10rem;
  margin-bottom: 25px;
  top: -20rem;
  background: #4169E1;
}

.btnall{
  margin-top: -20rem;

}
footer{
  background: #000000;
  color: white;
  text-align: center;
  height: 2rem;
}

.menu{
  display: none;
}

@media screen and (min-width: 2561px) {

  .year3 {
    margin-top: -17.8rem;
    width: 30vw;
  }

  .year2,.year1 {
    width: 30vw;
  }

  .btnoverall{
    margin-left: 10vw;
  }

  mat-card-title{
    margin-left: 13vw;
  }
}

@media screen and (max-width: 2560px) {

  .year3 {
    margin-top: -18.1rem;
    width: 30vw;
  }

  .year2,.year1 {
    width: 30vw;
  }
  .btnoverall{
    margin-left: 10vw;
  }

  mat-card-title{
    margin-left: 13vw;
  }
}

@media screen and (max-width: 1920px) {

  .year3 {
    margin-top: -18.1rem;
    width: 30vw;
  }

  .year2,.year1 {
    width: 30vw;
  }

}

@media screen and (max-width: 1560px) {

  .year3 {
    margin-top: -16.8rem;
    width: 30vw;
  }

  .year2,.year1 {
    width: 30vw;
  }
}

@media screen and (max-width: 1440px ) {

  .year3 {
    margin-top: -28vh;
  }

  mat-card {
    width: max-content;
    height: fit-content;

  }

  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .btnoverall{
    top: -18rem;
  }


  mat-card-title{
    margin-left: 11vw;
  }


}

@media screen and (max-width: 1280px ) {

  .year3 {
    margin-top: -26.5vh;
  }
  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .btnoverall{
    top: -18rem;
  }

  mat-card-title{
    margin-left: 11vw;
  }

}

@media screen and (max-width: 1024px) {

  .year3 {
    margin-top: -22.5vh;
  }

  .year2 {
    margin-top: -29.5vh;
  }

  .year1 {
    margin-top: -31.5vh;
  }
  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .btnoverall{
    top: -14rem;
  }


}

@media screen and (max-width: 850px) {

  .year3 {
    margin-top: -7.5vh;
  }

  .year2 {
    margin-top: -19.5vh;
  }

  .year1 {
    margin-top: -22vh;
  }
  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .btnoverall{
    top: -7rem;
  }

  mat-card-title{
    margin-left: 11vw;
  }

  /*.title{*/
  /*  position: relative;*/
  /*  left: -69.5vw;*/
  /*}*/
  .menu{
    display: block;
    margin-left: -55vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }


  .nav{
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .year1 {
    margin-top: -30vh;
    width: 90%;
  }

  .year3 {
    margin-top: -38.5vh;
    width: 30%;
    position: relative;
    top: -5vh;
    width: 90%;
  }

  .year2 {
    margin-top: -30.6rem;
    width: 30%;
    position: relative;
    top: 5vh;
    width: 90%;
  }

  mat-card-title {
    color: white;
    margin-left: 9vw;
  }

  .logo {
    transform: scale(0.1);

    /*margin-left: -35vw;*/
  }

  /*.title{*/
  /*  position: relative;*/
  /*  left: -73.5vw;*/
  /*}*/

  .btnoverall{
    top: -22rem;
    width: 75vw;
    margin-left: 12.5vw;
  }

  .btns{
    margin-left: 12vw;

  }

  .menu{
    display: block;
    margin-left: -55vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }


  .nav{
    display: none;
  }

}

@media screen and (max-width: 426px) {

  .forms > mat-form-field {
    /*margin-top: -15vh;*/
    height: 50px;
    width: 100%;
  }

  .year1 {
    /*margin-top: 30vh;*/
    width: 90%;
    /*margin-bottom: -60vh;*/
  }

  .year3  {
    margin-top: -33vh;
    width: 90%;
  }

  .year2 {
    margin-top: -30rem;
    width: 90%;
  }

  mat-card-title {
    color: white;
    margin-left: 33vw;
  }

  .logo {
    transform: scale(0.05);
  }

  /*.title{*/
  /*  margin-left: -28vw;*/
  /*  font-size: 25px ;*/
  /*}*/

  .btnoverall{
    top: -19rem;
    width: 80vw;
    margin-left: 10.5vw;
  }

  .btns{
    margin-left: 0;
  }

  .menu{
    display: block;
    margin-left: -58vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }

}

@media screen and (max-width: 400px) {

  .year1 {
    /*margin-top: -18rem;*/
    width: 90%;
  }

  .year3  {
    margin-top: -33vh;
    width: 90%;
  }

  .year2 {
    margin-top: -30rem;
    width: 90%;
  }

  mat-card-title {
    color: white;
    margin-left: 33vw;
  }

  .logo {
    transform: scale(0.05);
    margin-left: -10vw;
    margin-top: 0;
  }

  .title{
    margin-left: -35vw;
    font-size: 25px ;
    transform: scale(0.7);

  }

  .btnoverall{
    top: -20rem;
    width: 80vw;
    margin-left: 10.5vw;
  }

  .btns{
    margin-left: 0;
  }

  .menu{
    display: block;
    margin-left: -58vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }

}

@media screen and (max-width: 375px) {

  .year1 {
    /*margin-top: -18rem;*/
    width: 90%;
  }

  .year3  {
    margin-top: -33vh;
    width: 90%;
  }

  .year2 {
    margin-top: -30rem;
    width: 90%;
  }

  mat-card-title {
    color: white;
    margin-left: 33vw;
  }

  .logo {
    transform: scale(0.05);
    margin-left: -10vw;
    margin-top: 0;
  }

  .title{
    /*margin-left: -43vw;*/
    /*font-size: 25px ;*/
    transform: scale(0.7);

  }

  .btnoverall{
    top: -20rem;
    width: 80vw;
    margin-left: 10.5vw;
  }

  .btns{
    margin-left: 0;
  }

  .menu{
    display: block;
    margin-left: -58vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }

}

