
<header>
  <mat-toolbar class="navbar">
    <div class="navbar-brand">
      <img class="logo" [src]="logo">
    </div>

    <span class="title">BIT GPA CALCULATOR</span>

    <span class="spacer"></span>
    <div class="nav">
      <ul class="navlist">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="../contactus">Contact us</a></li>
        <li><a routerLink="../about">About</a></li>
      </ul>
    </div>

    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu"> <mat-icon class="menuicon">view_headline</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item ><a routerLink="">Home</a></button>
        <button mat-menu-item ><a routerLink="../contactus">Contact Us</a></button>
        <button mat-menu-item ><a routerLink="../about">About</a></button>
      </mat-menu>
     </div>

  </mat-toolbar>
</header>
<article class="back">


    <mat-grid-list [cols]="breakpoint" rowHeight="100rem" class="background" (window:resize)="onResize($event)">
      <mat-grid-tile-header>
<!--        <mat-toolbar class="navbar">-->
<!--          <div class="navbar-brand">-->
<!--            <img class="logo" [src]="logo">-->
<!--          </div>-->

<!--          <span class="example-spacer"></span>-->
<!--          <div class="nav">-->
<!--            <ul class="navlist">-->
<!--              <li class="active">Home</li>-->
<!--              <li>Contact us</li>-->
<!--              <li>About</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-toolbar>-->
<!--        <mat-grid-list cols="2" rowHeight="5rem" class="navbar">-->
<!--          <mat-grid-tile><img class="logo" [src]="logo"></mat-grid-tile>-->
<!--          <mat-grid-tile>-->
<!--            <div class="nav"> -->
<!--              <ul class="navlist">-->
<!--                <li class="active">Home</li>-->
<!--                <li>Contact us</li>-->
<!--                <li>About</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </mat-grid-tile>-->
<!--        </mat-grid-list>-->
      </mat-grid-tile-header>
      <mat-grid-tile>

        <mat-card class="year1">
          <mat-card-header>
            <mat-card-title>Year 1</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form  class="forms" [formGroup]="yearone" >
              <h3>Semester 1</h3>

              <mat-label>Information Systems</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="is" [(value)]="selected">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Personal Computing With FOSS</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="pc">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Computer Systems</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="cs">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Introduction to Programming</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="ip">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Introduction to Mathematics</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="im">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of ens" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <h3>Semester 2</h3>

              <mat-label>Web Development I</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="web1">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Fundementals of Software Engineering</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="se">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Database Systems</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="ds">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Mathematics For Computing</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="mc">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Communication Skills I</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="csk1">
                  <mat-option value="null">Not Selected</mat-option>
                  <mat-option *ngFor="let grade of ens" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <button class="btns" (click)="calculatey1gpa()" mat-fab extended color="primary">
                <mat-icon>table_view</mat-icon>Calculate</button>

            </form>

          </mat-card-content>
        </mat-card>


      </mat-grid-tile>
      <span class="spacer"></span>
      <mat-grid-tile >

        <mat-card class="year2">
          <mat-card-header>
            <mat-card-title>Year 2</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <form  class="forms" [formGroup]="yeartwo" >
              <h3>Semester 3</h3>

              <mat-label>Data Strctures and Algorithems</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="dsa">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>WEB Development II</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="web2">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Data Management System</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="dms">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Object Oriented Analysis And Design</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="ooad">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Communication Skills II</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="csk2">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of ens" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <h3>Semester 4</h3>

              <mat-label>Enterprise Application Development</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="ead">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>User Experience Development</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="uxd">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Computer Networks</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="cn">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Agile System Development</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="asd">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Project Management</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="pm">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <button class="btns" mat-fab extended color="primary" (click)="calculatey2gpa()">
                <mat-icon>table_view</mat-icon>Calculate</button>

            </form>

          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
      <span class="spacer"></span>
      <mat-grid-tile>

        <mat-card class="year3">
          <mat-card-header>
            <mat-card-title>Year 3</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <form  class="forms" [formGroup]="yearthree">
              <h3>Semester 5</h3>

              <mat-label>Fundamentals of Management & Entrepreneurship</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="fme">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of ens" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Professional Practice</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="pp">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Software Development Project</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="sdp">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Principles of Information Security</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="pis">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Systems & Network Administration</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="sana">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

<!--              <mat-label>Mathematics for Computing II</mat-label>-->
<!--              <mat-form-field class="inputs" appearance="outline">-->
<!--                <mat-select formControlName="mc2">-->
<!--                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field><br>-->

              <h3>Semester 6</h3>

              <mat-label>Emerging Topics in Information Technology</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="etit">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of ens" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Software Quality Assurance</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="qa">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Mobile Application Development</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="mad">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Network Security and Audit</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="nsa">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-label>Mathematics for Computing II or e-Business Technologies</mat-label>
              <mat-form-field class="inputs" appearance="outline">
                <mat-select formControlName="bt">
                  <mat-option value=null>Not Selected</mat-option>
                  <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <button class="btns" mat-fab extended color="primary" (click)="calculatey3gpa()">
                <mat-icon>table_view</mat-icon>Calculate</button>

            </form>

          </mat-card-content>

        </mat-card>

      </mat-grid-tile>

    </mat-grid-list>
<span class="btnall">
  <button class="btnoverall" mat-fab extended color="primary" (click)="overollgpacalculate()">
    <mat-icon>table_view</mat-icon>Calculate Overall GPA</button>
</span>


</article>
<footer>
  <h4>© 2023 CODEHELIO, Sri Lanka. All rights reserved.</h4>
</footer>








<!--        <div  class="sem1">-->
<!--         <div class="s"  *ngFor="let subject of subjects1">-->
<!--           <div class="l"><mat-label>{{subject}}</mat-label></div>-->
<!--         <div>-->
<!--           <mat-form-field appearance="outline">-->
<!--             <mat-label>{{subject}}</mat-label>-->
<!--             <mat-select>-->
<!--               <mat-option *ngFor="let grade of grades" [value]=grade>{{grade}}</mat-option>-->
<!--             </mat-select>-->
<!--           </mat-form-field>-->
<!--         </div>-->
<!--         </div>-->
<!--        </div>-->
