@font-face {
  font-family: 'poppins';
  src: url("src/assets/Font/Poppins-Thin.ttf") format('truetype');
}
.navbar-brand{
  /*align-content: flex-start;*/
  margin-left: -27rem;
  height: 50px;
  margin-top: -440px;
}
.title{
  font-family: poppins,sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.forms > mat-label {
  color: red;
  margin-right: 20px;
}

.forms > mat-form-field {
  margin-top: 5px;
  height: 50px;
  width: 400px;
}

h3{
  background: dodgerblue;
  width: 95px;
  padding: 0 0 0 10px;
  border-radius: 25px;
  color: white;
}

.inputs {
  display: flex;
  align-items: center;

}

.forms {
  padding: 20px;
}

.year1 {
  margin-top: -18rem;
  height: fit-content;
}

.year2 {
  margin-top: -18rem;
  height: fit-content;
}

.year3 {
  margin-top: 0rem;
  height: fit-content;
}

mat-card-header {
  background: #1b4780;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

mat-card-title {
  color: white;
  margin-left: 180px;
}

.logo {
  transform: scale(0.1);
  /*margin-left: 0;*/
}

.nav {
  /*margin-left: 25vw;*/
}

.navlist {
  list-style-type: none;
  flex: 10;
  display: flex;
  gap: 20px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: red;
  cursor: pointer;
}

.navbar, .back {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(136, 235, 255, 1) 100%);
  width: 100%;
}
.navbar{
  position: fixed;
  z-index: 1;
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}
.btns {
  width: 400px;
  background: #4169E1;
}

.active {
  text-decoration: underline;
}

.btnoverall{
  width: 80vw;
  position: relative;
  margin-left: 10rem;
  margin-bottom: 25px;
  top: -20rem;
  background: #4169E1;
}

.btnall{
  margin-top: -20rem;

}
footer{
  background: #000000;
  color: white;
  text-align: center;
  height: 2rem;
}

@media screen and (max-width: 2560px) {

  .year3 {
  margin-top: -18.1rem;
  }

  .title{
    margin-left: 15rem;
  }

  .title{
    position: relative;
    left: -13vw;
  }
}

@media screen and (max-width: 1440px ) {

  .year3 {
    margin-top: -26vh;
  }

  mat-card {
    width: max-content;
    height: fit-content;

  }

  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {

  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .year1 {
    margin-top: -24rem;
  }

  .year3 {
    margin-top: -21.5rem;
  }

  .year2 {
    margin-top: -25.25rem;
  }



  mat-card {
    width: max-content;
    height: max-content;

  }

  mat-card-title {
    color: white;
    margin-left: 115px;
  }

  .logo {
    position: relative;
    transform: scale(0.1);
    /*margin-left: -38vw;*/
  }

  .nav {
    /*margin-left: 15vw;*/
  }

  .btns {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {

  .forms > mat-form-field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
  }

  .year1 {
    /*margin-top: -18rem;*/
  }

  .year3 {
    /*margin-top: -7.5vh;*/
  }

  .year2 {
    /*margin-top: -16.6rem;*/
  }

  mat-card {
    width: fit-content;
    height: max-content;

  }

  mat-card-title {
    color: white;
    /*margin-left: 75px;*/
    align-content: center;
  }

  .logo {
    transform: scale(0.1);
    align-self: center;
    /*margin-left: -35vw;*/
  }

  .nav {
    margin-left: 5vw;
  }

  .btns {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {

  .forms > mat-form-field {
    /*margin-top: 5px;*/
    height: 50px;
    width: 100%;
  }

  .year1 {
    /*margin-top: -18rem;*/
  }

  .year3 {
    margin-top: -30vh;
  }

  .year2 {
    /*margin-top: -25rem;*/
  }

  mat-card {
    width: max-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 12px;
  }

  mat-card-content {
    width: max-content;
    align-self: center;
  }

  mat-card-title {
    color: white;
    margin-left: 75px;
  }

  .logo {
    transform: scale(0.05);
    /*margin-left: -25vw;*/
  }

  .nav {
    /*margin-left: -10vw;*/
  }

  .navlist {
    font-size: 13px;
  }

  .btns {
    width: 200px;
  }
}

.spacer {
  flex: 1 1 auto;
}
