@font-face {
  font-family: 'poppins';
  src: url("src/assets/Font/Poppins-Thin.ttf")format('truetype');
}

.blogo {
  width: 80px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-left: 15px;
}

.title{
  font-family: poppins,sans-serif;
  font-size: 30px;
  font-weight: bold;

  /*position: absolute;*/
  /*right: 0;*/
  /*margin: 0 auto;*/

}

.spacer {
  flex: 1 1 auto;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 15px;
}

.navlist {
  list-style-type: none;
  flex: 10;
  display: flex;
  gap: 20px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: red;
  cursor: pointer;
}

.navbar{
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(136, 235, 255, 1) 100%);
  width: 100%;
}
.navbar{
  position: fixed;
  z-index: 1;
}

a{
  color: black;
  text-decoration: none;
}

.menu{
  display: none;
}

.sidenav {
  height: 50rem;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  font-family: poppins, sans-serif;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {


  .menu{
    display: block;
    margin-left: -55vw;
    margin-top: 0;
  }

  .menuicon{
    transform: scale(2);
  }

  .nav{
    display: none;
  }

}
